html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;

  --small: 4px;
  --medium: 8px;
  --large: 16px;

  --app-background-primary: #2E3440;
  --app-text-primary: #D8DEE9;
}
